body{
    height: 100%;
    /* background-image: url("./images/OIP.jpeg"); */
    /* background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 20px;
    color: rgb(208, 187, 187)
   }

   #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

main h1{
    display: flex;
    justify-content: center;
    margin: 30px;
   
}
#timer{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.input-field-date,
.input-field-time {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.input-field-time {
    gap: 10px;
}

label {
    margin: 10px;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input,
select {
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    width: 100px; /* Set a uniform width */
}

select#appt {
    width: 120px; /* Slightly wider to accommodate longer text */
}




.buttons-container{
    display:flex;
    justify-content: center;
    
}

button { 
        border-radius: 40px;
        margin: 20px;
        padding: 5px;
        width: 8em;
        padding: 10px 20px; 
        background-color: #cf2929; 
        color: white; 
        border: none; 
        cursor: pointer; 
        transition: box-shadow 0.3s ease; 
    } 

button:hover { 
    box-shadow: 5px 5px 7px rgba(115, 15, 152, 0.6); 
} 